@media only screen and (max-width: 600px) {
    #headshot-sm-container {
        display: block;
        width: 100%;
    }

    #headshot-sm-container img {
        display: block;
        width: 90%;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    #header-title {
         margin-top: 20px ;
    }

    #header-title span {
        color: orange;
    }

    #headshot-container {
        display: none;
    }

}

@media only screen and (min-width: 600px) {
    #headshot-sm-container {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

body {
    color: white;
}

/***************    Background    ******************/
#background-video {
    z-index: -100;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

#fullscreen-video {
    filter: brightness(8%);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}

/***************    Header    ******************/
#header {}

#headshot-sm-container {}

#header-title {
    color: white;
}

#nav {}

#headshot-container {}

#continue-button {
    margin-top: 100px;
}
#content-hide {
    display: none;
}



/***************    About    ******************/
#about {}

#skills {}


/***************    Projects    ******************/
#pojects {}

#display-projects {}


/***************    Contact    ******************/
#contact {}

#logo {}

#contact-methods {}

#message-me {}

