@media only screen and (max-width: 600px) {
    #headshot-sm-container {
        display: block;
        width: 100%;
    }

    #headshot-sm-container img {
        display: block;
        width: 75%;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    #splash-page-title {
        margin-top: 1em;
    }

    #splash-page-title span {}

    #headshot-container {
        display: none;
    }

    #nav {
        margin-left: 1em;
    }

    #links {
        margin-top: 1em;
        margin-bottom: 0;
    }

    #links a {
        display: block;
        margin-top: 2%;
        padding: .4em;
        font-size: 1.3em;
    }

    #continue-button {
        position: relative;
    }
}

@media only screen and (min-width: 600px) {
    #splash-page {
        display: flex;
        justify-content: space-around;
        margin-top: 90px;
    }

    #headshot-sm-container {
        display: none;
    }

    #headshot-container {
        margin: auto 0;
    }

    #headshot-container img {
        width: 100%;
    }

    #links {
        margin-top: 3em;
    }

    #links li, #nav a {
        margin: 1em;
        padding: 1em;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 768px) {
    #splash-page {
        justify-content: space-evenly;
        margin-top: 90px;
    }

    #splash-page-title h1 {
        font-size: 3em;
    }
}


@media only screen and (min-width: 1200px) {
    #splash-page-title span {
        color: orange;
    }
}

body {
    color: white;
}

/***************    Background    ******************/
#background-video {
    z-index: -100;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

#fullscreen-video {
    filter: brightness(8%);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
}

/***************    splash-page    ******************/
#splash-page {
    z-index: -90;
}

#headshot-sm-container {}

#splash-page-title {
    color: white;
}

#links a:link,
#links a:visited {
    color: white;
}

#links a:hover {}

#links {
    list-style: none;
    text-align: center;
}

#links li {}

#headshot-container {}

#content-hide {
    display: none;
}


/***************    About    ******************/
#about {}

#skills {}


/***************    Projects    ******************/
#pojects {}

#display-projects {}


/***************    Contact    ******************/
#contact {}

#logo {}

#contact-methods {}

#message-me {}

/*#continue-button {*/
/*    margin-bottom: 0;*/
/*}*/